{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  <div class="container-fluid card wizard-card" data-color="blue">

    <h3 class="wizard-title">Générer un bordereau</h3>
    <hr>

    {{ form_start(form) }}

      <div class="well">
        <div class="row justify-content-center">
          {{ form_row(form.followedBy) }}
        </div>
        <hr>
        <div class="row justify-content-center">
          {{ form_row(form.representatives) }}
        </div>
      </div>
      <div class="form-group" align="center">{{ form_widget(form.save, {'attr': {'class': 'btn-info'}}) }}</div>

    {{ form_end(form) }}

  </div>

  {{ parent() }}

{% endblock %}
