{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  <div align="right"><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i></a></div>
  <div class="container-fluid align-items-center card wizard-card">
  <h1 class="row justify-content-center">BECO GESTION</h1>
  <hr class="row">
  <h1 class="row justify-content-center small">{% if archives is defined %}ARCHIVES DE {% endif %}FACTURES</h1>

  <div class="row">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_newquote') }}">Nouveau devis</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_home') }}">Accéder aux devis</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_archives') }}">Accéder aux archives de devis</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_invoices') }}">Accéder aux factures</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_archivesinvoices') }}">Accéder aux archives de factures</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_customer') }}">Gestion des clients</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_settings') }}">Gestion des paramètres</a>
    </div>
  </div>

  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Réf Facture</th>
            <th>Status</th>
            <th>Client</th>
            <th>Date d'émission</th>
            <th>Date de paiement</th>
            {% if archives is not defined %}
              <th>Valider</th>
              <th>Supprimer</th>
            {% endif %}
            <th>Production</th>
            <th>Service</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.id }}</td>

                    <td><button type="button" class="btn btn-{{ invoice.status.type}}">{{ invoice.status.message }}</button></td>

                    <td>{{ invoice.customer.companyName }}</td>

                    <td>{{ invoice.creationDate|date('d-m-Y')  }}</td>

                    <td>{{ invoice.payementDate|date('d-m-Y')  }}</td>

                    {% if archives is not defined %}
                      <td><a href="{{ path('BG_CoreBundle_pickdate', {'id': invoice.id}) }}"><i class="fas fa-check" aria-hidden="true"></i></a></td>
                      <td><a href="{{ path('BG_CoreBundle_invalidate', {'id': invoice.id}) }}"><i class="fas fa-times" aria-hidden="true"></i></a></td>
                    {% endif %}

                    <td><a href="{{ path('BG_CoreBundle_invoice_prod', {'id': invoice.id}) }}"><i class="fas fa-eye" aria-hidden="true"></i></a></td>

                    <td><a href="{{ path('BG_CoreBundle_invoice_service', {'id': invoice.id}) }}"><i class="fas fa-eye" aria-hidden="true"></i></a></td>

                    <td><a href="{{ path('BG_CoreBundle_invoice', {'id': invoice.id}) }}"><i class="fas fa-eye" aria-hidden="true"></i></a></td>
                </tr>
          {% endfor %}

        </tbody>
      </table>
  </div>

  {{ parent() }}

{% endblock %}
