{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

{{ include('BGCoreBundle::menu.html.twig', { 'route': 'BG_CoreBundle_invoices', 'parameters': {} }) }}

  <div class="container-fluid card wizard-card">
    <h1 class="row justify-content-center">BECO GESTION</h1>
    <div class="row justify-content-center">
      {{ form_start(form, {'attr': {'align': 'center'}}) }}

        <div class="well d-flex justify-content-center">
          {{ form_row(form.creationDate) }}
        </div>
        <hr>
        <div class="well d-flex justify-content-center">
          {{ form_row(form.payementDate) }}
        </div>
        <div class="well d-flex justify-content-center">
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
        {{ form_rest(form) }}

      {{ form_end(form) }}
    </div>

  </div>

  {{ parent() }}

{% endblock %}
