{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  <div align="right"><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i></a></div>
  <div class="container-fluid align-items-center card wizard-card">
  <h1 class="row justify-content-center">BECO GESTION</h1>
  <hr class="row">
  <h1 class="row justify-content-center small">DEVIS</h1>

  <div class="row">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_newquote') }}">Nouveau devis</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_home') }}">Accéder aux devis</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_archives') }}">Accéder aux archives de devis</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_invoices') }}">Accéder aux factures</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_archivesinvoices') }}">Accéder aux archives de factures</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_customer') }}">Gestion des clients</a>
      <a class="dropdown-item" href="{{ path('BG_CoreBundle_settings') }}">Gestion des paramètres</a>
    </div>
  </div>

  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Réf Devis</th>
            <th>Nom</th>
            <th>Status</th>
            <th>Client</th>
            <th>Date de création</th>
            <th>Facture</th>
            <th>Gérer</th>
          </tr>
        </thead>
        <tbody>

          {% for quote in quotes %}
                <tr>
                    <td>{{ quote.id }}</td>

                    <td>{{ quote.name }}</td>

                    <td><button type="button" class="btn btn-{{ quote.status.type}}">{{ quote.status.message }}</button></td>

                    <td>{{ quote.customer }}</td>

                    <td>{{ quote.date|date('d-m-Y')  }}</td>

                    <td><a id="generateInvoice" href="{{ path('BG_CoreBundle_generate', {'id': quote.id}) }}"><i class="fas fa-paper-plane" aria-hidden="true"></i></a></td>

                    <td><a href="{{ path('BG_CoreBundle_view', {'id': quote.id}) }}"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
                </tr>
          {% endfor %}

        </tbody>
      </table>
  </div>

  {{ parent() }}

{% endblock %}
