{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  {{ include('BGCoreBundle::menu.html.twig', { 'route': 'BG_CoreBundle_home', 'parameters': {}  }) }}

  <div class="container card wizard-card" data-color="blue">

    <div class="wizard-header">
      <h3 class="wizard-title">{{ title }}</h3>
      <hr>
    </div>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}

      <div class="well">
        <h4 class="wizard-title">Infos du devis</h4>
        <hr>
        <div class="row">
          <div class="col">
            {{ form_row(form.engRate) }}
          </div>
          <div class="col">
            {{ form_row(form.drawRate) }}
          </div>
          <div class="col">
            {{ form_row(form.vat) }}
          </div>
        </div>
      </div>

      <div class="well">
        <h4 class="wizard-title">Choix du client</h4>
        <hr>
        {{ form_row(form.customer) }}
      </div>

      <div class="well">
        <h4 class="wizard-title">Définition des plans</h4>
        <hr>
        {{ form_row(form.services) }}
        <button class="btn btn-fill btn-info" type="button" id="add_service">Ajouter un service</button>
      </div>

      <div class="form-group" align="center">
          {{ form_widget(form.save, {'attr': {'class': 'btn-info'}}) }}
      </div>

      {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>

  {{ parent() }}

{% endblock %}
