{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  {{ include('BGCoreBundle::menu.html.twig', { 'route' : 'BG_CoreBundle_view', 'parameters': {'id': id, 'sid': service.id} }) }}

  <div class="container-fluid card wizard-card" data-color="blue">

    <h2 class="row form-signin-heading justify-content-center">Édition des avancements</h2>

    <h3 class="row form-signin-heading justify-content-center">{{ service.plan.level }} - {{ service.plan.drawing }}</h2>

      {% for flashMessage in app.session.flashbag %}
          {{ flashMessage }}
      {% endfor %}

    <div>
      <a href="{{ path('BG_CoreBundle_addstate', {'id': id, "sid": service.id}) }}" class="btn btn-info">Ajouter un avancement</a>
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

      <div class="form-group">
        {{ form_label(form.value, "Pourcentage actuel", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.value) }}
        {{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}
      </div>

      {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>

    <h3 class="row form-signin-heading justify-content-center">Historique</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Pourcentage</th>
          <th></th>
        </tr>
      </thead>
    <tbody>

      {% for state in service.states %}
        {% if state != max %}
        <tr>
          <td>{{ state.date|date('d-m-Y H:i:s') }}</td>
          <td>{{ state.value }}</td>
          <td><a href="{{ path('BG_CoreBundle_removestate', {'id': id, 'sid': service.id, 'aid': state.id}) }}"><i class="fas fa-times" aria-hidden="true"></i></a></td>
        </tr>
        {% endif %}
      {% endfor %}

    </tbody>
    </table>

  </div>

  {{ parent() }}

{% endblock %}
