{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  {{ include('BGCoreBundle::menu.html.twig', { 'route': 'BG_CoreBundle_home', 'parameters': {} }) }}

  <div class="container-fluid card wizard-card" data-color="blue">

    <div class="wizard-header">
      <h3 class="wizard-title">Modifier les paramètres</h3>
      <hr>
    </div>

    {{ form_start(form) }}
      {{ form_errors(form) }}
        <div class="well">
          <h4 class="wizard-title">Infos du devis</h4>
          <hr>
          <div class="row">
            <div class="col">
              {{ form_row(form.engRate) }}
            </div>
            <div class="col">
              {{ form_row(form.drawRate) }}
            </div>
            <div class="col">
              {{ form_row(form.vat) }}
            </div>
          </div>
        </div>
        <div class="form-group" align="center">{{ form_widget(form.save, {'attr': {'class': 'btn-info'}}) }}</div>
      {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>

  {{ parent() }}

{% endblock %}
