{% extends "BGCoreBundle::layout.html.twig" %}

{% block body %}

  {{ include('BGCoreBundle::menu.html.twig', { 'route': 'BG_CoreBundle_home', 'parameters': {}  }) }}

  <div class="container-fluid card wizard-card" data-color="blue">

    <h2 class="row form-signin-heading justify-content-center">Devis N°{{ quote.id }}</h2>

    <button type="button" class="btn btn-{{ quote.status.type }}">{{ quote.status.message }}</button>

    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
          <div class="dropdown-menu">
             <a class="dropdown-item">Générer un bordereau</a>
             <h6 class="dropdown-header">Changer le status</h6>
             <a class="dropdown-item" href="{{ path('BG_CoreBundle_changestatus', {'id': quote.id, 'status': 'awaiting'}) }}">En attente</a>
             <a class="dropdown-item" href="{{ path('BG_CoreBundle_changestatus', {'id': quote.id, 'status': 'ongoing'}) }}">En cours</a>
             <a class="dropdown-item" href="{{ path('BG_CoreBundle_changestatus', {'id': quote.id, 'status': 'finished'}) }}">Terminé</a>
             <a class="dropdown-item" href="{{ path('BG_CoreBundle_changestatus', {'id': quote.id, 'status': 'cancelled'}) }}">Annulé</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-end align-self-center">
        <a href="{{ path('BG_CoreBundle_modifyquote', {'id': quote.id}) }}"><i class="fas fa-cog"></i></a>
      </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Sélection</th>
              <th>Code</th>
              <th>Bâtiment</th>
              <th>Niveau</th>
              <th>Dessin</th>
              <th>Avancement global</th>
              <th>Temps ingénieur</th>
              <th>Temps dessinateur</th>
              <th>Éditer les avancements</th>
            </tr>
          </thead>
          <tbody>

        {% for service in quote.services %}
          <tr>
            <td><div class="check"><label><input type="checkbox" name="optionsCheckboxes"></label></div></td>
            <td>{{ service.plan.id }}</td>
            <td>{{ service.building }}</td>
            <td>{{ service.plan.level }}</td>
            <td>{{ service.plan.drawing }}</td>

            {% set maxValue = 0 %}
            {% for state in service.states %}
                {% set maxValue = max(state.value, maxValue) %}
            {% endfor %}

            <td>{{ maxValue }}</td>

            <td>{{ service.engTime }}</td>
            <td>{{ service.drawTime }}</td>
            <td><a href="{{ path('BG_CoreBundle_service', {'id': quote.id, 'sid': service.id}) }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a></td>
          </tr>
        {% endfor %}

    </tbody>
  </table>
</div>

  </div>

{{ parent() }}

{% endblock %}
